
 
$font: Roboto, sans-serif;
$primary-color: rgb(219, 217, 217);


@mixin theme() {
    // background: linear-gradient(0deg, rgb(2, 2, 53) 0%,#6FA0CE 100%);
    background-color: #01538b;
  }
 
@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}