@import "../../shared/miSass.scss";

.contenedor {
  background-color: #0093E9;
  font-family: $font;
  color: $primary-color;
  margin: auto;
  height: 100vh;
}

.provinciaaa {
  padding: 50px;
}

.footerprov {
  background-color: black;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  width: 40%;
}

.maxim {
  width: 50%;
  color: dimgrey;
  margin: 1%;
  font-size: 60%;
  padding-left: 2%;
}

.maximimg {
  width: 15px;
}

.flecha {
  width: 20%;
}

.letrass {
  font-size: 10%;
  font-style: oblique;
}

.form-select {
  font-size:1.5rem; 
  width: 90%; 
  margin:5%;
}