<div class="contenedor">
    
    <img src="./assets/imagenes/inicio.png" alt="" style="width: 100%">
        
    <h2 class="provinciaaa">Seleccionar Provincia</h2>

    <select [(ngModel)]="opcionSeleccionado" class="form-select" style="font-size:1.5rem; width: 90%; margin:5%;"
        (change)="getNombreProvincia()">
        <option *ngFor="let provincia of provincias" [value]='provincia.id'>{{provincia.nombre}}</option>
     </select>
    
    <div class="provinciaaa">
        <button class="btn btn-danger" (click)="sendNombreProvinciasToService()">Ver listado productos</button>
    </div>
    <div class="footerprov">
        <p class="maxim">
            <img class="maximimg"src="./assets/imagenes/Vector.png" alt="">
            Luis Sanchez
        </p>
        <p class="maxim">
            <img class="maximimg" src="./assets/imagenes/Vector.png" alt="">
            Kevin Nuñez
        </p>
        <p class="maxim">
            <img class="maximimg" src="./assets/imagenes/Vector.png" alt="">
            Luis Orescovich
        </p>                   
    </div>
</div>




<!-- <div class="container">
    <div class="row">
        <div class="col ">
            <h2>Provincias</h2>
        </div>
          <div class="col">
              <select [(ngModel)]="opcionSeleccionado" class="form-select miselect" style="font-size:1.5rem;" (change)="getNombreProvincia()">
                  <option style="font-size:1.5rem;">Seleccione una provincia...</option>
                  <option style="font-size:1.5rem;" *ngFor="let provincia of provincias" [value]='provincia.id'>{{provincia.nombre}}</option>
              </select>
          </div>
            <div class="col">
                <button class="btn btn-primary" (click)="sendNombreProvinciasToService()" >Ver listado productos</button>
            </div>
    </div>
</div> -->
