<div class="contenedor">
    
    <img src="./assets/imagenes/inicio.png" alt="" style="width: 100%">
        
    <h2 class="provinciaaa">Seleccionar Provincia</h2>

    <select [(ngModel)]="opcionSeleccionado" class="form-select" (change)="getNombreProvincia()">
        <option *ngFor="let provincia of provincias" [value]='provincia.id'>{{provincia.nombre}}</option>
     </select>
    
    <div class="provinciaaa">
        <button class="btn btn-danger" (click)="sendNombreProvinciasToService()">Ver listado productos</button>
    </div>
    <div class="footerprov">
        <span class="maxim">
            <img class="maximimg" src="./assets/imagenes/Vector.png" alt="">
            Luis Sanchez
        </span>
        <span class="maxim">
            <img class="maximimg" src="./assets/imagenes/Vector.png" alt="">
            Kevin Nuñez
        </span>
        <span class="maxim">
            <img class="maximimg" src="./assets/imagenes/Vector.png" alt="">
            Luis Orescovich
        </span>                   
    </div>
</div>
