<div class="container">
    <div class="row">
        <h3>Listado de productos</h3>
        <div style="text-align: right;">
            <button (click)="goBack()" class="btn btn-primary" >Volver</button>
        </div>    
        <div class="form-group">
            <label for="productBuscado" class="form-label">Buscar</label>
            <input 
                [(ngModel)]="productBuscado" 
                (ngModelChange)="filtrarProductos($event)"
                type="text" 
                class="form-control" 
                id="productBuscado"
                placeholder="Buscar por nombre o codigo"
            >
        </div>
        <hr>
        <div >
            <input
                [(ngModel)]="productPrecio"
                (ngModelChange)="filtrarPrecio($event)"
                min="0"
                [max]="precioMax"
                type="range"
                class="form-range"
                id="productPrecio"
            >
            <label for="filtroPrecio" class="form-label">Precio máximo - seleccionado: ${{ productPrecio }}</label>
        </div>
        <div class="row" *ngIf="provinciasProductosFilter.length > 0; else noProduct ">
            <div class="card" style="width: 18rem;" *ngFor="let producto of provinciasProductosFilter">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.code }}</h5>
                    <h5 class="card-text">{{ producto.nameProduct }}</h5>
                    <h6 class="card-text">{{ producto.price }}</h6>
                    <!--  -->
                    <button class="btn btn-success" (click)="mostrarDescripcion(producto.code)">Ver mas</button>
                </div>
            </div>   
        </div>
        <ng-template #noProduct>
            <div class="alert alert-danger" role="alert">
                El codigo o nombre de producto que buscaba no se encuentra en nuestra lista
            </div>
        </ng-template>
    </div>
</div>