@import "../../shared/miSass.scss";
.liscontenedor {
  background-color: #0093E9;
  font-family: $font;
  color: $primary-color;
//   margin: auto;  
}

.lisimg{
    // margin:0%,
}

.lis{
    background-color: #0093E9;
    padding: 10%;
    color: white;
}

.lisfooterprov{
  background-color: black;  
  padding: 5px;
  
}

.lismaxim{
  width: 50%;
  color:dimgrey;
  margin: 1%;
  font-size: 60%;
}

.lismaximimg{
  width: 15px;
}

.lisflecha{
  width: 20%;  
}


