.container-fluid {
    // display: inline-block;
    background: #00AFF9 url(../../../assets/imagenes/Unplugged.png) center/cover no-repeat;
    // height: 100vh;
    color: white;
}


.texto {
    margin-left: 50px;
    font: 5rem Roboto;
    p {
        font: 2rem Roboto;
    }
    h1 {
        padding-top: 50px;
    }
}